<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    <div style="align:center">
      <h1>{{pageTitle}}</h1>
      <p>Some text here</p>
    </div>
  </body>
  <footer>
    <p>Copyright {{currentYear}}</p>
  </footer>
</html>
